.swaper{
  padding: 60px 0;
  width: 1440px;
  height: 166px;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.swaper2{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.swaper2::-webkit-scrollbar {
  display: none;
}
.swaper1{
  background-color: #fff;
  min-width: 100%;
  min-height: 50px;
}
.swaper1 {display:flex}
.swaper1--item{
  background-color: #ffffff;
  min-width: 90px;
  margin: 20px;
}
.swap-img{
  height: 60px;   
  width: 85px;
  display: inline-block;
  border: none;                           
  cursor: pointer;
}
.text-swap{
  font-size: 14px;
  line-height: 18px;
  color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  max-width: none;
}
